<link rel="stylesheet" type="text/css" href="./ThinQ_FAQ_files/all.css">
  <div class="jumbotron">
    <h3 class = "text-center">EMBED A THINQ.TV SCHEDULE ON YOUR WEBSITE</h3>
      <p>
        Do you own a blog or website of your own? Are you interested in referring people to our STEMinist community? If so, you can include our formatted event schedule on your page by embedding it! Once it has been included, it will update with new events on its own as we add them to our schedule. No maintenance will be required on your end.
        <br><br>
        <h5>Instructions:</h5>
        To embed a schedule of Thinq.tv's events onto your own website, simply copy the HTML code below and insert it into your webpage's HTML document!
    </p>
    <!-- Notice there is no priority on the padding in the below line -->
      <div style="background-color: white; margin: 1rem 3rem; padding: 1rem;">
        <code>
          &#60;iframe src="http://localhost:3000/embed" title="ThinQ.tv: Join in with tech industry tips!" height=400px width=600px style="position: fixed; z-index: 99; bottom: 0; border: 10px solid #FEC427"&#62;&#60;/iframe&#62;
        </code>
      </div>
      <br>
      <h3 class = "text-center">Additional Formatting Options</h3>
      <p style="margin-bottom:1em;">Are you interested in adjusting the way our embedded widget looks on your site? If so, you can edit the formatting properties included in the HTML code above in order to achieve a variety of effects.
      <ul>
        <li><strong>Widget Size</strong><br>The default height and width of the widget is 400 pixels by 600 pixels, and is specified using the "height" and "width" attributes. [explanation of using vw and vh units]</li>
        <li><strong>Border</strong><br>[width explanation]<br>[color explanation]<br>[external link to further information]</li>
        <li><strong>Positioning</strong><br>[default (static) positioning and how to adjust it]<br>[fixed positioning]</li>
      </ul>
  </div>
  <ul class="container">
    <li>
      <a href="#" class="toggle" style="display:none">Additional Formatting Adjustments</a>
      <div class="inner">
        <p class = "container-fluid lead">
            Insert CSS Instructions.
        </p><br>
      </div>
    </li>
  </ul>
<form method="post" action="mailto:info@ThinQ.tv"></form>
